kholase {
    white-space: pre-wrap;
}

#markdown {
    direction: rtl;
    text-align: right;
}

.CodeMirror {
    padding-right: 1rem !important;
}

.rtl{
    text-align: right;
    direction: rtl !important;
}

.ltr{
    text-align: left;
    direction: ltr !important;
}
